body {
    font-family: Arial, sans-serif;
    background: white;
    margin: 0;
}


header {
    background: lightgreen;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 250px;
    padding: 20px;
}


.logo-img {
    align-items: flex-start;
    width: 150px;      
    height: auto;      
}


.cart-item {
    background: lightgray;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 250px;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}


.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}


.total {
    background: lightcyan;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 150px;
    padding: 15px;
}


button {
    padding: 10px;
    border: none;
    background: lightgreen;
    cursor: pointer;
}
