body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: lightblue;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 150px;      
    height: auto;      
}


.back {
    font-size: 24px;
    color: black;
    text-decoration: none;
}


.title {
    text-align: center;
    margin-top: 20px;
    border-bottom: 4px solid #8BC34A;
    display: inline-block;
    padding-bottom: 5px;
}


.form-box {
    margin-top: 40px;
    background: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

.form-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    box-sizing: border-box;
}


.login-btn {
    width: 100%;
    padding: 12px;
    background: #8BC34A;
    border: none;
    color: black;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}


.forgot {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}


.social-icons {
    display: flex;
    justify-content: center;   
    align-items: center;       
    gap: 15px;                 
}

.social-logos {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}



.register-btn {
    width: 100%;
    padding: 12px;
    background: #dff0eb;
    border: none;
    margin-top: 15px;
}


