
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray; 
    display: flex;
    justify-content: center; 
    padding-top: 50px; 
}

.payment-container {
    width: 500px; 
    text-align: center; 
}

h1 {
    color: black;
    font-size: 28px;
    margin-bottom: 20px;
}

.form-card {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    text-align: left; 
}


h2 {
    font-size: 18px;
    color: darkgray;
    border-bottom: 2px solid lightgreen; 
    padding-bottom: 5px;
    margin-top: 25px;
    margin-bottom: 20px;
}


.input-row {
    display: flex; 
    align-items: center;
    margin-bottom: 15px;
}

.input-row label {
    width: 100px; 
    font-size: 14px;
    color: darkgray;
    margin-right: 15px;
    font-weight: bold;
}

.input-row input[type="text"] {
    flex-grow: 1; 
    padding: 8px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
}

hr {
    border: 0;
    height: 1px;
    background-color: whitesmoke;
    margin: 25px 0;
}

.radio-options {
    display: flex;
    flex-wrap: wrap; 
    gap: 15px 30px; 
    margin-bottom: 30px;
}

.radio-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    cursor: pointer;
    width: 150px; 
}

.radio-item input[type="radio"] {
    margin-right: 8px;
}

.confirm-btn {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgreen;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.confirm-btn:hover {
    background-color: green;
}